<%- include('partials/header') -%>
<div class="container pl-40">
  <h1>Home</h1>
  <p><%= homeContent %></p>

  <% posts.map(post=>{ %>
  <h1><%= post.title %></h1>
  <p>
    <%= post.content.substring(0, 100) + " ...." %>
    <a href="/posts/<%= post.title %>">Read more</a>
  </p>
  <p><% }) %></p>
</div>

<%- include('partials/footer') -%>
